#footer {
    width: 100vw;
    background-color: var(--black);
    padding: 2rem;

}




.footer {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    @include breakpoint(phone) {
        align-items: center;
    }


    &Logo {
        width: 12rem;

        @include breakpoint(phone) {
            width: 50%;
            margin: 0 auto;
            order: 1;
        }
    }

    &Desc {
        color: var(--white);
        width: 60%;
        text-align: center;
        letter-spacing: 1px;

        a {
            color: var(--white);
            font-size: 1.8rem;
        }

        @include breakpoint(phone) {
            order: 2;
            width: 100%;
            margin-top: 2rem;
        }
    }

    &Social {
        display: flex;
        align-items: center;

        @include breakpoint(phone) {
            order: 3;
            margin: 0 auto;
            margin-top: 2rem;
        }

        a img {
            width: 2.5rem;
            height: 2.5rem;
            margin: 0 1rem;
        }

    }
}

.footerCopyright {
    margin-top: 1.6rem;
    width: 100%;
    font-size: 1.2rem;
    color: var(--onSurface);
    text-align: center;
}