body {
    font-size: $base-font;
    line-height: 1.6;
    font-family: $body-font;
    color: var(--onSurface);
    letter-spacing: 0.5px;
    font-weight: 400;

}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
    color: var(--onSurface);
    font-family: $heading-font;
    font-weight: 400;

}


.heading-primary {
    font-size: $step03;
    line-height: 1.6;

    @include breakpoint(tab) {
        font-size: $step02;

    }
}




.heading-secondary {
    font-size: $step02;
    line-height: 1.4;
    position: relative;


    &::after {}
}



.heading-tertiary {
    font-size: $base-font;
    line-height: 1.4;

    &:hover {
        color: var(--onBackground);
    }
}





.authorTag {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--onSurface);
}

.dateTag {
    font-size: $step0;
    display: inline-block !important;
}

.sectionTitle {
    background-color: var(--primary);
    color: var(--onPrimary);
    padding: 1rem 4rem;
    text-transform: uppercase;
    position: relative;
    font-size: 1.8rem;
    border-top-left-radius: $radius2;
    border-top-right-radius: $radius2;

    @include breakpoint(tab) {

        text-align: center;

    }
}